body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.fixebal-width{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#00ff4c, #9bf870);
    padding: 10px 40px;
    font-size: 700;
    color: white;
    border-radius: 5px;
}
.top-bannar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.dev{
    width: 40%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
footer{
    text-align: center;
    padding: 20px 10px;
    color: white;
    background-color: black;
}